body{
    padding: 0;
    margin: 0;
    background-color: rgb(243, 241, 239);
}
header{
    text-align: center;
        min-height: 10vh;
        background-color:rgba(14, 12, 12, 0.74);
        color: white;

}
main{
    min-height: 70vh;
    background-color: rgb(243, 241, 239);
    margin-left: 15px;
    display: flex;
    justify-content: center;
    
}
footer{
    text-align: end;
    background-color: rgb(126, 153, 158);
    min-height: 10vh;
}
.div1{
    display: flex;
    
}
.section1{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
hr{
    padding: 0;
    margin: 50px;
}
h1{
    margin: 100px 0 0 450px;
}
img{
    position: absolute;
    left: 105rem;
    top: 9rem;
}
h3{
    margin-left: 50px;
    border-left: 2px solid black;
    height: 80px;
}